@import "tailwindcss";

body,
html {
  cursor: url("./assets/injection.png") auto;
}

h1,
h2,
h3,
h4,
a,
button {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

p,
input,
label,
textarea {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 640px) {
  .scroll-wrapper > div {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
